.main-flex {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.main-flex .center-area {
    overflow: auto;
}
.heroescounters-hero {
    height: 92px;
    width: 92px;
    position: relative;
}
.heroescounters-hero .heroescounters-sort-value {
    position: absolute;
    bottom: 2px;
    right: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.player-hero {
    position: relative;
}
.player-hero img {
    background: #000000;
    max-height: 64px;
    max-width: 64px;
}
.player-hero .player-hero-none {
    display: inline-block;
    width: 64px;
    height: 64px;
    font-size: 28px;
    background: #000000;
}

.ban-hero {
    position: relative;
}
.ban-hero img {
    background: #000000;
    max-height: 64px;
    max-width: 64px;
}
.ban-hero .ban-hero-none {
    display: inline-block;
    width: 64px;
    height: 64px;
    font-size: 28px;
    background: #000000;
}
.ban-hero .ban-hero-name {
    position: absolute;
    bottom: 6px;
}
.team-blue-bans .ban-hero .ban-hero-name {
    right: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.team-red-bans .ban-hero .ban-hero-name {
    left: 0px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
