.navbar-main-menu {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.navbar-main-menu .navbar-nav {
  -webkit-app-region: no-drag;
}
.navbar-main-menu .navbar-brand-icon {
  height: 32px;
}
.main-flex {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
}
.main-flex .center-area {
    overflow: auto;
}
.heroescounters-hero {
    height: 80px;
    width: 80px;
    position: relative;
}
.heroescounters-hero .heroescounters-sort-value {
    position: absolute;
    bottom: 2px;
    right: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.player-hero-none {
    display: inline-block;
    min-height: 58px;
    font-size: 28px;
    text-align: center;
    background: #000000;
}
.ban-hero-none {
    display: inline-block;
    min-height: 58px;
    min-width: 110px;
    font-size: 28px;
    text-align: center;
    background: #000000;
}
.team-blue .card,
.team-read .card {
    min-width: 92px;
}
.team-blue-bans .card-img-top,
.team-red-bans .card-img-top {
    height: 64px;
    width: auto;
}