<div class="player border mb-2 {% if player.isLocked() %}bg-light border-light text-dark{% else %}bg-dark border-dark text-info{% endif %}" data-index="0">
    <div class="player-name border-bottom border-dark p-1" data-content="player-name">
        {{ player.getName() }}
    </div>
    <div class="player-hero text-center p-1" data-content="player-hero"{% if player.isDetectionFailed() %} data-failed="{{ player.getCharacter }}"{% endif %}>
    {% if player.isDetectionFailed() %}
        <div class="player-hero-none">
            <span class="fa fa-exclamation-triangle"></span>
        </div>
    {% else %}
        {% if player.getCharacter() %}
            <img class="rounded-circle" src="{{ draft.getHeroes().getImage( player.getCharacter() ) }}" alt="{{ player.getCharacter() }}">
        {% else %}
            <div class="player-hero-none rounded-circle">?</div>
        {% endif %}
    {% endif %}
    </div>
    <div class="player-hero-name text-center">
        <small>{% if player.getCharacter() %}{{ player.getCharacter() }}{% else %}---{% endif %}</small>
    </div>
</div>
