<nav class="navbar navbar-main-menu navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary">
    <a href="#" class="navbar-brand">
        <img class="navbar-brand-icon" src="../build/icon_64x64.png" class="img-fluid">
        Hots-Drafter
        {% if gui.debugEnabled %}
            <span class="badge badge-info ml-3 debug-step">
                {{ gui.debugStep }}
            </span>
        {% endif %}
    </a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item{% if gui.page=="main" or gui.page=="wait" or gui.page=="update" %} active{% endif %}">
            <a href="#draft" data-action="draft" class="nav-link">
                <i class="fa fa-users"></i>
                Draft
            </a>
        </li>
        <li class="nav-item dropdown">
            <a href="#dev" class="nav-link dropdown-toggle" data-toggle="dropdown">
                <i class="fab fa-dev"></i>
                Dev-Tools
            </a>
            <div class="dropdown-menu">
                <a href="#forceUpdate" data-action="forceUpdate" class="dropdown-item">
                    <i class="fa fa-sync"></i>
                    Force Update
                </a>
                <a href="#detectionTuner" data-action="detectionTuner" class="dropdown-item">
                    <i class="fa fa-microchip"></i>
                    Detection Tuning
                </a>
            </div>
        </li>
        <li class="nav-item{% if gui.page=="config" %} active{% endif %}">
            <a href="#config" data-action="config" class="nav-link">
                <i class="fa fa-cog"></i>
                Config
            </a>
        </li>
        <li class="nav-item">
            <a href="#quit" data-action="quit" class="nav-link">
                <i class="fa fa-times-circle"></i>
            </a>
        </li>
    </ul>
</nav>


<script>
jQuery(function() {

    jQuery("[data-action=\"draft\"]").on("click", function() {
        gui.changePage("main");
    });
    jQuery("[data-action=\"config\"]").on("click", function() {
        gui.changePage("config");
    });
    jQuery("[data-action=\"forceUpdate\"]").on("click", function() {
        gui.forceUpdate();
    });
    jQuery("[data-action=\"quit\"]").on("click", function() {
        gui.quit();
    });

});
</script>
