<div class="card {% if locked %}text-white bg-dark{% else %}text-dark bg-light{% endif %} mb-3"
     data-content="player-hero" data-type="player" data-team="{{ team }}" data-index="{{ index }}">
    {% if detectionFailed %}
        <div class="player-hero-none card-img-top" data-failed="{{ heroName }}">
            <span class="fa fa-exclamation-triangle"></span>
        </div>
    {% else %}
        {% if heroName %}
            <img class="player-hero-image card-img-top" src="{{ gui.getHeroImage( heroName ) }}" alt="{{ heroName }}">
        {% else %}
            <div class="player-hero-none card-img-top">?</div>
        {% endif %}
    {% endif %}
    <div class="card-body p-1">
        <p class="card-text text-center">
            <b>{% if heroName %}{{ heroName }}{% else %}---{% endif %}</b>
            <br />
            <small>
                {{ playerName }}
                {% if gui.hasPlayerKnownPicks(playerName) %}
                <a data-toggle="tooltip" data-html="true" data-placement="{% if team == "blue" %}right{% else %}left{% endif %}"
                    title="<div class='text-left'>Recent picks:{% for playerPick in gui.getPlayerKnownPicks(playerName)|slice(0, 10) %}<br>{{ playerPick[0] }} ({{ playerPick[1] }}){% endfor %}</div>">
                    <i class="fa fa-info-circle"></i>
                </a>
                {% endif %}
            </small>
        </p>
    </div>
</div>