{% extends "../frame.twig.html" %}
{% block content %}
    <div class="container">
        <h1>Recent Replays</h1>

        <table class="table table-sm table-bordered table-striped table-dark replay-list">
            <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Map</th>
                    <th>Uploaded to</th>
                </tr>
            </thead>
        {% for index, replay in gui.gameData.replays.details %}
            {% include "../elements/replay.twig.html" with replay %}
        {% endfor %}
        </table>
    </div>
{% endblock %}